<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
    href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
    rel="stylesheet"
  />
    <!-- My CSS -->
    <link rel="stylesheet" href="/styles/style-dashboard.css" />
    <title>Task management app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
  </head>
  <body>
    <%- include('../layouts/sidebar') %> 

    <!-- CONTENT -->
    <section id="content">
      <%- include('../layouts/navbar') %> 


      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1><%= title %></h1>
            <ul class="breadcrumb">
              <li>
                <a href="#"></a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#"><%= title %></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Add new user</h3>
            </div>
            <form action="/users" method="POST" id="add-user-form">
                <div class="mb-3">
                    <label for="name">Name:</label><br>
                    <input type="text" name="name" id="name" class="form-control" required placeholder="Enter name..." value="<%= userDetails.name %>"/>
                </div>
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <br>
                    <input type="text" name="username" id="username" class="form-control" required placeholder="Enter username..." value="<%= userDetails.username %>"/>
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <br>
                    <input type="text" name="password" id="password" class="form-control" required  placeholder="Enter password..." value=""/>
                </div>
                <div class="mb-3">
                    <label for="level">Level:</label>
                    <br>
                    <select name="level" id="level" class="form-control">
                        <option value="1">Admin</option>
                        <option value="0">User</option>
                    </select>
                </div>
                <div style="display: flex;">
                    <button type="submit" value="Save" class="btn btn-dark">Save</button>
                    <button class="btn btn-dark"><a href="/users">Cancel</a></button>
                </div>
            </form>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->
    <script src="/js/main-dashboard.js" ></script>
<%- include('../layouts/footer') %>
